{% extends 'layout.html.twig' %}

{% block title %}Tu veux tout savoir ?{% endblock %}

{% block content %}

    <div class="title">
        <h2 class="top-title"> COMMENT NOUS TROUVER ?</h2>
        <h3>Fastoche...</h3>
    </div>

    <div class="column no-gutters justify-content-around title">

        <div class="col-5">

            <div class="address info-card">

                <div>
                    <h3>NOS COORDONNEES</h3>
                    <p>2 bis Quai François Mitterand<br>44200 NANTES<br>
                        <a href="tel:+332.40.++.++.++">02.40.++.++.++ </a>
                    </p>

                    <div class="button">
                        <a href="https://bit.ly/32Z5Xm2" target="_blank"
                           title="Itinéraire">Itinéraire</a>
                    </div>
                </div>

                <div class="map">
                    <img src="https://phareouestblog.files.wordpress.com/2012/11/staticmap_nantes_beghin_say.png"
                         alt="map">
                </div>

            </div>

        </div>

        <div class="col-3 info-card">
            <h3>VENIR A L'OLYMPIC NANTAIS</h3>
            <p>
                <strong>En voiture :</strong> GPS 47°12'26.4"N 1°33'20.1"W<br>
                <strong>En bus :</strong> Arrêt République - Ligne 26 ou C5<br>
                <strong>En tram :</strong> Arrêt Commerce<br><strong>En covoiturage :</strong>
                <a href="https://www.nantesmetropole.fr/pratique/deplacements/covoiturage-22880.kjsp">
                    Site Nantes Métropole</a>
            </p>
        </div>

        <div class="col-3 info-card">

            <h3>SE GARER</h3>

                <p>
                    <strong>Parking 1 :</strong> Les Machines de Nantes<br>
                    <strong>Adresse :</strong> 10 rue Arthur III 44200 NANTES<br>
                    <strong>Distance à pied :</strong> 8 minutes<br>
                    <strong>Parking 2 :</strong> Gloriette<br>
                    <strong>Adresse :</strong> 7 quai de Tourville 44200 NANTES<br>
                    <strong>Distance à pied :</strong> 6 minutes
                </p>

        </div>

    </div>

    <div class="column no-gutters justify-content-center title">

        <div class="col-5">

            <h2> QUELS SONT NOS EQUIPEMENTS ?</h2>
            <h3>WoW ! Dingue...</h3>

        </div>

        <div class="col-5 info-card">

            <p>
                <strong>Capacité :</strong> 550 pers.<br>
                <strong>Accessibilié :</strong> rampe et espace dédié dans la salle<br>
                <strong>Vestiaires :</strong> Deux (un à chaque entrée)<br>
                <strong>Bar :</strong> Bière, Soft drinks, Eau minérale, Café<br>
                <strong>Snack :</strong> Sandwich, Hot dog, Frites
            </p>

        </div>

        <div class="col-5">

            <h2> A QUELLE HEURE ON S'AMBIANCE ?</h2>
            <h3>C'est parti !!</h3>

        </div>

        <div class="col-5 info-card">

            <p>
                <strong>Ouverture des portes :</strong> 1/2 heure avant le début des concerts<br>
                <strong>Ouverture du bar/snack :</strong> Entracte et fin de spectacle<br>
                <strong>Horaires du bureau :</strong> Du lundi au vendredi<br>De 13h30 à 17h30
            </p>

        </div>

    </div>

{% endblock %}
