{% extends 'adminLayout.html.twig' %}

{% block title %}Olympic Nantais || Liste des catégories{% endblock %}

{% block content %}

    <section id="partnerAdd">

        <h1>Ajouter un nouveau partenaire :</h1>
        <div class="row">
            <button type="submit" class="btn btn-primary btn-lg mb-2 mx-auto">
                <a class="text-white" href="/partners/add">Ajouter</a>
            </button>
        </div>

    </section>

    <section id="partnerList">

        <h1>Liste des partenaires :</h1>
        <div class="row">
            <table class="table col-12">
                <thead class="table-striped">
                    <tr class="bg-warning">
                        <th scope="col">Nom du partenaire</th>
                        <th scope="col">Lien du site</th>
                        <th scope="col">Modifier</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                {% for partner in partners %}
                    <tr>
                        <td>{{partner.name}}</td>
                        <td>{{partner.link}}</td>
                        <td><button type="button" class="btn btn-success">
                                <a class="text-white" href="/partners/edit/{{ partner.id }}">Mise à jour</a>
                            </button></td>
                        <td><button type="button" class="btn btn-danger">
                                <a class="text-white" href="/partners/delete/{{ partner.id }}">Supprimer</a>
                            </button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </section>

{% endblock %}
