{% extends 'adminLayout.html.twig' %}

{% block title %}Olympic Nantais || Liste des catégories{% endblock %}

{% block content %}

    <section id="categoryAdd">

        <h1>Ajouter une catégorie :</h1>
        <div class="row">

            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" readonly class="form-control-plaintext" id="category" name="category" value="nouvelle catégorie">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Confirmer</button>
            </form>

        </div>

    </section>

    <section id="categoryList">

        <h1>Liste des catégories :</h1>
        <div class="row">
            <table class="table col-12">
                <thead>
                    <tr>
                        <th scope="col">Style</th>
                        <th scope="col">Modifier</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    {% include "Blocks/_adminTable.html.twig" with {
                        "id" : category.id,
                        "cat" : category.category,
                    } %}
                {% endfor %}
                </tbody>
            </table>
        </div>

    </section>

{% endblock %}