<aside>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">Evènements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Catégories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
        </li>
    </ul>
</aside>