<!-- Footer -->
<footer id="adminFooter" class="page-footer footer-dark bg-dark text-white">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright -
        <a href="/">Olympic Nantais</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->