<section>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Catégories :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            {% for category in categories %}
                <option value="{{ category.id }}" name="category">{{ category.category }}</option>
            {% endfor %}
        </div>
    </div>
</section>
