<header id="adminHeader" class="navbar">
        <div id="header-society" >
            <h1>{{society.name}}</h1>
        </div>
        <div id="header-user" class="dropdown">
            <button type="button" class="btn btn-outline-orange dropdown-toggle" data-toggle="dropdown">
                Nom Prénom {{ session.name }}
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Mon Profil</a>
                <a class="dropdown-item" href="/admin/logout">Deconnexion</a>
            </div>
        </div>
</header>
