<tr>
    <td>{{cat}}</td>
    <td><button type="button" class="btn btn-success"><a class="text-white" href="/categories/edit/{{ id }}">Mise à jour</a></button></td>
    <td><button type="button" class="btn btn-danger"><a class="text-white" href="/categories/delete/{{ id }}">Supprimer</a></button></td>
</tr>