<section>
    <div class="custom-select dropdown">
        <label for="Title">Catégorie :</label></br>
        <select multiple name="categoryList" size="5">
            {% for category in categories %}
                <option>{{ category.category }}</option>
            {% endfor %}
        </select>
    </div>
</section>
