<section>

            <select name="category">
                <option value="">Categorie</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.category }}</option>
            {% endfor %}
            </select>

</section>
