<section>
    <label for="Title">Catégorie :</label></br>
    <div class="custom-select dropdown">
        <select multiple name="category" size="0">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.category }}</option>
            {% endfor %}
        </select>
    </div>
</section>
