<header id="adminHeader" class="navbar navbar-dark bg-dark d-flex text-center text-white">
        <div class="col-sm-3" >
            <a href="/">
                <img src="/assets/images/logo_Olympic_Nantais.png" width="150"  alt="Olympic Nantais">
            </a>
        </div>
        <div class="col-sm-5"" >
            <h4>Date et heure</h4>
        </div>
        <div class="col-sm-4"" >
            <h4>Bonjour ADMIN</h4>
        </div>
</header>