<section>
    <select name="category">
        <option value="">Categories</option>
    {% for category in categories %}
        <option value="{{ category.id }}">{{ category.category }}</option>
    {% endfor %}
    </select>
</section>
