<nav id="adminNav" class="navbar navbar-expand-md navbar-dark bg-secondary text-center justify-content-center">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav flex-column mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/categories/events">Evenements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categories/list">Catégories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categories/messages">Messages</a>
            </li>
        </ul>
</nav>