<header id="adminHeader" class="navbar navbar-dark bg-dark d-flex text-center text-white">
        <div class="col-sm-3" >
            <a href="/">
                <img src="/assets/images/logo_Olympic_Nantais.png" width="150"  alt="Olympic Nantais">
            </a>
        </div>
        <div class="col-sm-4" >
            <h4>Le {{ "now"|date("d/m/Y") }}</h4>
        </div>
        <div class="col-sm-3" >
            <h4>Bonjour {{ session.name }}</h4>
        </div>
        <div class="col-sm-2" >
            <a href="/admin/logout"><button type="button" class="btn btn-primary">Déconnexion</button></a>
        </div>
</header>
