<footer>

<!--Menu-->

    <div class="container">
        <div class="row">
            <div class="col-3 text-center menu">
                <a href="olympic/programming" title="Tu veux du bon son ?">Du bon son</a>
            </div>
            <div class="col-3 offset-6 text-center menu">
                <a href="olympic/info" title="Tu veux tout savoir ?">Tout savoir</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-center menu">
                <a href="olympic/history" title="Tu veux connaître notre histoire ?">Notre histoire</a>
            </div>
            <div class="col-3 offset-6 text-center menu">
                <a href="olympic/contact" title="Tu veux nous contacter ?">Nous contacter</a>
            </div>
        </div>
        <div class="admin_login">
            <div class="col-3 offset-6">
                <a href="admin/login" title="Espace administrateur">Espace administrateur</a>
            </div>
        </div>
        <br>
    </div>

    <!--Details-->

        <div class="details">
            <h5>Nos coordonnées</h5>
            <p>2 bis Quai François Mitterand
                <br>44200 NANTES</p>
            <a href="mailto:contact@olympic-nantais.com">contact@olympic-nantais.com</a>
            <br>
            <a href="tel:+332.40.++.++.++">02.40.++.++.++ </a>
        </div>

        <br>

    <!--Social medias-->

    <div class="container" >
        <div class="row" >
            <div class="col-4 text-center">
                <a href="https://twitter.com/Olympic-Nantais"  target="_blank" title="Nous suivre sur Twitter">
                        <img src="https://image.flaticon.com/icons/svg/145/145812.svg" alt="twitter" class="reseaux"></a>
            </div>
            <div class="col-4 text-center">
                <a href="https://www.facebook.com/Olympic-Nantais" target="_blank" title="Notre page Facebook">
                        <img src="https://image.flaticon.com/icons/svg/145/145802.svg" alt="facebook" class="reseaux"></a>
            </div>
            <div class="col-4 text-center">
                <a href="https://www.instagram.com/Olympic-Nantais" target="_blank" title="Les plus belles photos et vidéos">
                        <img src="https://image.flaticon.com/icons/svg/174/174855.svg" alt="instagram" class="reseaux"></a>
            </div>
        </div>
    </div>

    <br>

    <!--Partners-->

    <div class="container">
        <div class="row">
            <div class="col-4 text-center">
                <a href="#" target="_blank" title="Partenaire 1">
                    <img src="https://via.placeholder.com/140x50" alt="Partenaire 1" class="partners"></a>
            </div>
            <div class="col-4 text-center">
                <a href="#" target="_blank" title="Partenaire 2">
                    <img src="https://via.placeholder.com/140x50" alt="Partenaire 2" class="partners"></a>
            </div>
            <div class="col-4 text-center">
                <a href="#" target="_blank" title="Partenaire 3">
                    <img src="https://via.placeholder.com/140x50" alt="Partenaire 3" class="partners"></a>
            </div>
        </div>
    </div>

</footer>