<footer>
    <div id="footer" class="container">
        <!-- Nav -->
        <div id="footer-nav">
            <ul>
                <li><a href="/" title="Tu veux du bon son ?" >Du bon son</a></li>
                <li><a href="../../../olympic/information" title="Tu veux tout savoir ?" >Tout savoir</a></li>
                <li><a href="../../../olympic/history" title="Tu veux connaître notre histoire ?" >Notre histoire</a></li>
                <li><a href="../../../olympic/contact" title="Tu veux nous contacter ?" >Nous contacter</a></li>
                <li><a href="../../admin/login" title="Accès pro" class="btn btn-outline-orange">Accès pro</a></li>
            </ul>
        </div>
        <!-- Details -->
        <div id="footer-contact">
            <h3>Nous contacter : </h3>
            <p>2 bis Quai François Mitterand</p>
            <p>44200 NANTES</p>
            <ul>
                <li><a href="mailto:contact@olympic-nantais.com">contact@olympic-nantais.com</a></li>
                <li><a href="tel:+339.99.99.99.99">99.99.99.99.99</a></li>
            </ul>
        </div>
        <!-- Social medias -->
        <div id="footer-social">
            <h3>Nous suivre : </h3>
            <ul>
                <li>
                    <a href="https://twitter.com/Olympic-Nantais" target="_blank" title="Nous suivre sur Twitter" >
                        <span class="fa-stack fa-lg"><i class="fa fa-twitter fa-stack-1x"></i></span>
                         Twitter
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/Olympic-Nantais" target="_blank" title="Notre page Facebook" >
                        <span class="fa-stack fa-lg"><i class="fa fa-facebook fa-stack-1x"></i></span>
                         Facebook
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/Olympic-Nantais" target="_blank" title="Les plus belles photos et vidéos" >
                        <span class="fa-stack fa-lg"><i class="fa fa-instagram fa-stack-1x"></i></span>
                         Instagram
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
