<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">
        <img src="/assets/images/logo_Olympic_Nantais.png" width="100"  alt="">
    </a>
    <div class="menu-burger">
        <button class="navbar-toggler fixed-bottom" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="olympic/programming">Tu veux du bon son ? <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="olympic/information">Tu veux tout savoir ?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="olympic/history">Tu veux connaître notre histoire ?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="olympic/contact">Tu veux nous contacter ?</a>
            </li>
        </ul>
        </form>
    </div>
</nav>
