<div id="programming-title" class="index-title">
  <h1>Programmation :</h1>
</div>
<div id="search" class="container">
  <div class="row">
    <form class="input-group" method="post" action="/olympic/search">
        <input class="bar-search" type="search" placeholder="Rechercher un artiste, un spectacle, ..." aria-label="search" name="search">
        <span class="transition">Ou</span>
        <div class="index-dropdown-list">
            <select name="category" >
              <option value="">Categories</option>
              {% for category in categories %}
                  <option value="{{ category.id }}">{{ category.category }}</option>
              {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-outline-orange">Chercher</button>
    </form>
  </div>
</div>
