{% extends 'layout.html.twig' %}

{% block title %}{{society.name|capitalize}} || {{navbar.title}}{% endblock %}

{% block content %}
<div class="container">

    <section class="informations-card">
        <div class="row">
            <div class="col-12 header">
                <h2 class="top-title-1">La folle équipe</h2>
                <h3 class="subtitle-1">Deux amis et plein de potes</h3>
            </div>
            <div class="col-md-12 body">
                <div class="picture">
                    <img class="informations-picture" src="/assets/images/depositphotos_99874030-stock-photo-smiling-friends-at-concert-in.jpg" alt="Friends for ever">
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, blanditiis delectus enim neque rem quasi temporibus sit in expedita repellat voluptatum. Ab libero dolore enim, temporibus delectus alias at assumenda!</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ad explicabo. Ducimus adipisci at eligendi ullam numquam consequatur deserunt quos ex porro accusamus impedit sed quae veniam quas, est perspiciatis.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure necessitatibus, temporibus eos provident in blanditiis eligendi doloremque inventore dolores iusto ratione sed fugiat perferendis tempora nam reiciendis magnam. Aut, cumque!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="informations-card">
        <div class="row">
            <div class="col-12 header">
                <h2 class="top-title-1">La folle histoire</h2>
                <h3 class="subtitle-1">Avant, pendant... et après</h3>
            </div>
            <div class="col-md-12 body">
                <div class="text">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, autem aliquid. Magni culpa eum recusandae neque, fugiat maxime dolorum, quasi quia libero temporibus, animi unde nobis nihil ex? Repudiandae, suscipit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, dolorem quibusdam nesciunt eligendi ipsam porro aperiam vel corporis possimus itaque est libero eaque assumenda expedita suscipit incidunt voluptas corrupti accusamus?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi pariatur aperiam aliquid architecto, accusantium consequatur ipsam, eum fugiat vitae ea enim tempore magnam, doloremque accusamus reiciendis possimus. Iusto, assumenda incidunt! 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, aliquid, eius dolorem nihil nostrum similique adipisci provident voluptas a saepe non? Quidem illo reiciendis asperiores magnam itaque doloribus eaque sit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio alias mollitia necessitatibus dicta. Dolor dolorem saepe eaque nobis cupiditate pariatur recusandae autem exercitationem vero reprehenderit, amet quidem maxime deleniti quos.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit, soluta voluptate consequatur fugiat illo nostrum perspiciatis quae eius est, sunt assumenda atque dignissimos vitae ipsa eaque odio, eos commodi facilis.</p>
                </div>
                <div class="picture">
                    <img class="informations-picture" src="/assets/images/club-1-1200x675.jpg" alt="concert">
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}
