{% extends "adminLayout.html.twig" %}

{% block title %}Olympic Nantais || Liste des évènements{% endblock %}

{% block content %}
<section id="eventAdd">
    <h1>Ajouter un évènement :</h1>
    <div class="row">
            <a class="btn btn-outline-orange" href="/events/add">Ajouter</a>
    </div>
</section>

<section id="adminEvent">
    <h1>Liste des évènements</h1>
    {% for event in events %}
        <div class="card mb-3 col-4" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.title }}</h5>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success"><a class="text-white" href="/events/edit/{{ event.id }}">
                    Mettre à jour</a></button>
            <button type="submit" class="btn btn-danger"
                    name="suppression" src="icons/page_delete.png" alt="Supprimer l'évènement"  onclick="if(window.confirm ('Voulez-vous vraiment supprimer cet ' +
                    'évènement ?')){return true;}else{return false;}"><a class="text-white"
                    href="/events/delete/{{ event.id }}">Supprimer</a></button>
        </div>
    {% endfor %}
</section>

{% endblock %}
