{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'Blocks/_carousel.html.twig' %}
    <h1 class = 'programming-title'>Nos prochains Evènements</h1>

    <form class="form-inline my-2 my-lg-0" method="post" action="/programming/search">
        <input class="mr-sm-2" type="search" placeholder="search" aria-label="search" name="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <div class="row">
    {% for event in events %}
        <div class="card mb-3 col-4" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ event.image }}" class="card-img img-max-height" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.title }}</h5>
                        <div class="card-overflow">
                            <p class="card-text">{{ event.description }}</p>
                        </div>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
