
:root {
    --dark: #0F1626;
    --white: #F5F5F5;
    --orange: #F7882F;
    --orangeDark : #FF533D;
    --orangeLight : #FEE4C5;
}

/* général */
* {
    padding:0;
    margin:0;
}


html, body {
    height: 100%;
}

.top-title {
    margin-top: 100px;

}

.container-fluid {
    padding-right:0px;
    padding-left:0px;
    margin:0px;
}

.row{
    margin-left:0px !important;
    margin-right:0px !important;
}

/* -------------------------------------------- */
/* Body */

body {
    width:100%;
    background: linear-gradient(135deg, var(--dark)55%, var(--orangeDark));
    background-attachment: fixed;
}

h1, h2 {
    color: #F5F5F5;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}

h3 {
    color: #F5F5F5;
    font-family: 'McLaren', cursive;
}

p {
    font-family: 'Sawarabi Gothic', sans-serif;
}

/* -------------------------------------------- */
/* Footer */

footer {
    background: #0F1626;
    color: #FEE4C5;
}

.details {
    text-align: center;
    border: 2px black solid;
    border-radius: 10px;
    width: 70%;
    margin: 15px auto;
    padding: 10px;
}

.reseaux:hover {
    opacity: 0.5;
}

.reseaux {
    width: 50px;
    height: 50px;
    justify-content: space-around;
}

.partners:hover {
    opacity: 0.5;
}

.menu{
    padding: 10px;
}

a {
    color: #FEE4C5;
    text-decoration: none;
    background-color: transparent;
}

/* navbar */
.fixed-bottom
{
    margin: auto;
}

.navbar-toggler
{
    background-color: rgba(150, 150, 150, 0.9);
}

/* -------------------------------------------- */
/* programming title */
.programming-title
{
    width: 100%;
    text-align: center;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* -------------------------------------------- */
/* programming search input */
.mr-sm-2
{
    width: 60%;
    min-width: 100px;
    text-align: center;
    margin-left: 15%;
    margin-bottom: 30px;
}
.btn-search
{
    margin-bottom: 30px;
}

/* -------------------------------------------- */
/* programming card */
.card-overflow
{
    max-height: 150px;
    overflow: hidden;
}

.float
{
    float: right;
}

/* -------------------------------------------- */
/* programming carousel */
.carousel-inner
{
    margin-top: 90px;
    max-height: 450px;
}

/* -------------------------------------------- */
/* info */

.info-card{
    border-color: black;
    border-radius: 25px;
    border-width: 2px;
    box-shadow: 2px 4px 10px grey;
    background-color: #FEE4C5;
    padding: 20px !important;
    margin: 30px;
    line-height: 2.5;
}

.button {
    border-radius: 20px;
    background: #2A231F;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 4px 10px grey;
}

.button a {
    text-decoration: none;
    box-shadow: 2px 4px 10px grey;
}

.address {
    display: flex;
    flex-direction: row;
}

.map {
    margin: 20px 70px;
}

.map img {
    box-shadow: 2px 4px 10px grey;
    border-radius: 10px;
    max-width: 100%;
}

.title {
    margin: 50px;
}

/* -------------------------------------------- */
/* contact */

.form_input{
    display: flex;
}

.title {
    margin-top: 100px;
    text-align: center;
}

.container-input {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.button {
    background: #FF533D;
    color: #F5F5F5;
    width: 40%;
}

input {
    background-color: #FEE4C5;
    height: 40px;
    width: 70%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 15px;
}

textarea {
    background-color: #FEE4C5;
    height: 200px;
    width: 70%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 15px;
}

/* -------------------------------------------- */
/* Event  */

.event-card{
    width: 80%;
    display: flex;
    border-color: black;
    border-radius: 25px;
    border-width: 2px;
    box-shadow: 2px 4px 10px grey;
    background-color: #FEE4C5;
    padding: 20px !important;
    margin: 30px;
}

.event-card p{
    width:70%;
    text-align: justify;
    margin-left: 30px;
}

.event-card img{
    max-height: 500px;
    width: auto;
}

.programming-card{
    min-width: 300px;
    flex-direction: column;
}

.programming-section{
    justify-content: space-around;
}

/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
            /* Mobile Version */

@media screen and (max-width: 640px){
    .bar-search{
        margin-top: 90px;
        flex-direction: column;
    }

    .btn-search{
        margin: auto;
    }
}