
:root {
    --dark: #0F1626;
    --white: #F5F5F5;
    --orange: #F7882F;
    --orangeDark : #FF533D;
}
/* général */
* {
    padding:0;
    margin:0;
}

.container-fluid {
    padding-right:0px;
    padding-left:0px;
    margin:0px;
    margin:0px;
}

.row{
    margin-left:0px !important;
    margin-right:0px !important;
}

/* -------------------------------------------- */
/* Footer */

.details {
    text-align: center;
    border: 2px black solid;
    border-radius: 10px;
    width: 70%;
    margin: 15px auto;
    padding: 10px;
}

.reseaux:hover {
    opacity: 0.5;
}

.reseaux {
    width: 50px;
    height: 50px;
    justify-content: space-around;
}

.partners:hover {
    opacity: 0.5;
}

.menu{
    padding: 10px;
}

/* navbar */
.fixed-bottom
{
    margin: auto;
}

.navbar-toggler
{
    background-color: rgba(150, 150, 150, 0.9);
}

/* -------------------------------------------- */
/* card */
.card-overflow
{
    max-height: 150px;
    overflow: hidden;
}

.float
{
    float: right;
}

/* -------------------------------------------- */
/* carousel */
.carousel-inner
{
    margin-top: 90px;
    max-height: 450px;
}

/* -------------------------------------------- */
/* admin */

.wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 100%;
}

#adminNav, #content{
    align-self: stretch;
}

#content{
    padding:4%;
}

#adminNav{
    background-color:#6C757C !important;
}

#adminFooter{
    width:100%;
    position:relative;
    bottom:0;
}
