/* -------------------------------------------- */
/* colors */
:root {
    --dark: #0F1626;
    --white: #F5F5F5;
    --orange: #F7882F;
    --orangeDark : #FF533D;
    --orangeLight : #FEE4C5;
}

/* -------------------------------------------- */
/* main */
* {
    padding: 0;
    margin: 0;
}
html, body { height: 100%; }
body {
    width:100%;
    background: linear-gradient(135deg, var(--dark)35%, var(--orangeDark));
    background-attachment: fixed;
    color: var(--white);
}
h1, h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
}
h3 {
    font-family: 'McLaren', cursive;
    font-size: 25px;
}
h6 {
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--orange);
}
p {
    font-family: 'Sawarabi Gothic', sans-serif;
}
a {
    color: var(--white);
    text-decoration: none;
    background-color: transparent;
}
a:hover { color: var(--orangeDark); }
.row{
    margin-left:0px !important;
    margin-right:0px !important;
}
.container-fluid,
.container {
    padding-right:0px;
    padding-left:0px;
    margin:auto;
}
.main {
    margin-top: 150px;
}
.index-title {
    width: 100%;
    text-align: center;
    height: 50px;
    margin-top: 130px;
    margin-bottom: 25px;
}

/* -------------------------------------------- */
/* buttons */
.btn-outline-orange {
    padding: 10px 25px;
    color: var(--orangeDark);
    background-color: transparent;
    background-image: none;
    border-color: var(--orangeDark);
    text-transform: uppercase;
}
.btn-outline-orange:hover {
    color: var(--white);
    background-color: var(--orangeDark);
    border-color: var(--orangeDark);
}
.btn-dark {
    min-width: 150px;
    height: 40px;
    color: var(--white);
    background-color: var(--dark);
    text-transform: uppercase;
}
.btn-dark:hover {
    font-weight: bold;
    background-color: var(--orangeDark);
    border: 1px solid var(--white);
}
/* -------------------------------------------- */
/* navbar */
nav  {
    background-color: var(--dark);
    border-bottom: 1px solid var(--white);
}
.navbar-brand {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar-brand h1 {
    color: var(--white);
}
.navbar .navbar-nav .nav-link { color: var(--white); }
.navbar .navbar-nav .nav-item {
    margin: 0 10px;
    border: 1px solid transparent;
}
.navbar .navbar-nav .nav-item:hover:not(.active) .nav-link {
    color: var(--orangeDark);
    border-bottom: 1px solid var(--orangeDark);
}

.navbar .navbar-nav .nav-item.active .nav-link  {
    color: var(--orangeDark);
    border-top: 1px solid var(--orangeDark);
    border-bottom: 1px solid var(--orangeDark);
}
.fixed-bottom { margin: auto; }
.navbar-toggler {
    background-color: var(--orangeDark);
}

/* -------------------------------------------- */
/* Footer */
footer {
    width: 100%;
    background-color: var(--dark);
    border-top: 1px solid var(--white);
    margin-top: 100px;
}
#footer {
    color: var(--white);
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
#footer-nav,
#footer-contact,
#footer-social {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
#footer h3 {
    margin-bottom: 20px;
    text-decoration: underline;
}
#footer ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    text-align: center;
}
#footer ul li { padding: 10px 0; }
.fa { font-size: 30px; }

/* -------------------------------------------- */
/* carousel */
#carousel {
    display: flex;
    justify-content: center;
}
.carousel-inner {
    width: 660px;
    height: 450px;
    background-color:var(--dark);
    border: 1px solid var(--white);
    border-radius: 5px;
}
.carousel-picture { width: 50%; }
.carousel-caption {
    width: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    right:0;
}
.carousel-caption h5 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20%;
}
.carousel-caption p { margin-bottom: 25%; }
.carousel-control-next:hover,
.carousel-control-prev:hover {
    opacity: 1;
}
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
    background-color: var(--orangeDark);
    border: 1px solid var(--white);
    border-radius: 5px;
 }

/* -------------------------------------------- */
/* search */
#search {
    color: var(--white);
    background-color: var(--dark);
    padding: 30px 75px;
    margin: auto;
    border: 1px solid var(--white);
    border-radius: 5px;
}
#search form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#search input { width: 60%; }
#search input,
#search select {
    height: 40px;
}

/* -------------------------------------------- */
/* programming */
#programming {
    justify-content: space-around;
    margin: 50px 0px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--dark);
    border: 1px solid var(--white);
    border-radius: 5px;
}
.card-img {
    height: 300px;
    width: auto;
    border: 1px solid transparent;
}
.card-img:hover { border: 1px solid var(--orangeDark); }
.card-body  { text-align: center; }
.card-title {
    font-weight: bold;
    text-transform: uppercase;
}

/* -------------------------------------------- */
/* partners */
#partners {
	background: var(--dark);
    height: 100px;
    width: 100%;
    border: 1px solid var(--white);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    margin: auto;
}
.partner-picture img {
    max-height: 100px;
    max-width: 200px;
    filter: grayscale(100%);
    opacity: 0.5;
}
.partner-picture img:hover {
    filter: grayscale(0%);
    opacity: 1;
}
/* -------------------------------------------- */
/* event */
.navigation {
    margin-bottom: 40px;
}
.navigation a {
    width: 20%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event {
    display: flex;
    flex-direction: row;
}
.event-col-left {
    width: 40%;
}
.event-col-right{
    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event-picture {
    display: flex;
    justify-content: center;
}
.event-picture img {
    width: 450px;
    border-radius: 5px;
}
.event-informations,
.event-presentation,
.event-reservation  {
    width: 100%;
    display: flex;
    color: var(--dark);
    background-color: var(--white);
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--orangeDark);
    border-radius: 5px;
    margin: auto;
}
.event-presentation ,
.event-reservation  {
    padding-bottom: 20px;;
}
.event-informations {
    width: 80%;
}
.event-title {
    width: 100%;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--orangeDark);
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
.event-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--orangeDark);
    padding: 10px;
}
.event-subtitle {
    color: var(--orangeDark);
    font-weight: bold;
    text-transform: uppercase;
}
.event-data {
    padding: 0 20px;
}
.event-presentation {
    margin-bottom: 40px;
}
.event-presentation .event-details,
.event-reservation .event-details {
    border: none;
}
.event-presentation .event-subtitle  {
    text-decoration: underline;
    padding-bottom: 10px;
}
.event-presentation .event-video {
    width: 550px;
    height: 350px;
}
.event-price {
    font-weight: bold;
}
.event-date-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.event-date,
.event-time  {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event-date {
    border-right: 1px solid var(--orangeDark);
}

/* -------------------------------------------- */
/* modal */
.modal-content {
    height: 350px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/images/background-reservation.jpg");
    background-color: var(--dark);
}
.modal-content .btn-close { 
    color: var(--dark);
    border: 1px solid transparent;
 }
.modal-content .btn-close:hover {
    color: var(--white);
    background-color: var(--orangeDark);
    border: 1px solid var(--white);
}
.modal-body-title ,
.modal-body-buttons {
    padding: 20px 60px;
}
.modal-body-title {
    text-transform: uppercase;
}
.modal-body-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-body-title h4 {
    padding: 20px;
    background-color: var(--orangeDark);
}

/* -------------------------------------------- */
/* info */

.info-card{
    border-color: black;
    border-radius: 25px;
    border-width: 2px;
    box-shadow: 2px 4px 10px grey;
    background-color: var(--orangeLight);
    padding: 30px !important;
    margin: 30px;
    line-height: 2.5;
    font-size: 18px;
}

.button {
    border-radius: 20px;
    background: #2A231F;
    padding: 10px;
    text-align: center;
    margin: auto;
    box-shadow: 2px 4px 10px grey;
}

.button a {
    text-decoration: none;
}

.address {
    display: flex;
    flex-direction: column;
}

.map {
    margin: 20px 70px;
}

.map img {
    box-shadow: 2px 4px 10px grey;
    border-radius: 10px;
    max-width: 100%;
}

.title {
    margin: 50px;
}

.top {
    margin-top: 30px;
}

.orange {
    color: var(--orangeDark );
}

/* -------------------------------------------- */
/* contact */

.form_input{
    display: flex;
}

.title {
    margin: 20px;
    text-align: center;
}

.container-input {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.button {

    background: var(--orangeDark);
    color: var(--white);
    width: 30%;
}

input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}

textarea {
    background-color: var(--orangeLight);
    height: 200px;
    width: 70%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 15px;
}

.form_input {
    display: flex;
    margin: 40px;
}

.invalid-feedback{
    color: white;
    display:block;
    text-align: center;
    font-size: 15px;
}

/* -------------------------------------------- */
/* History  */

.history-card{
    border-color: black;
    border-radius: 25px;
    border-width: 2px;
    box-shadow: 2px 4px 10px grey;
    background-color: var(--orangeLight);
    padding: 30px !important;
    margin: 30px;
    line-height: 2.5;
    font-size: 18px;
    text-align: justify;
}

.img-concert {
    margin-bottom: 40px;
}

.name{
    color:var(--white);
}
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
            /* Mobile Version */

@media screen and (min-width: 769px) {

    .details-desktop-img-and-desc{
        display: flex;
        flex-direction: row;
    }

    .details-event-card{
        width: 80%;
        padding: 20px !important;
        margin-left: 10%;
    }

    .details-event-card p{
        text-align: justify;
        margin: auto;
    }

    .details-img{
        margin-bottom: 20px;
    }


    .details-category, .details-reservation{
        color: var(--white);
        text-align: center;
        margin-top: 30px;
    }

    .details-button, .details-link{
        text-align: center;
        margin-bottom: 30px;
    }

    .details-title{
        text-align: center;
        font-size: 50px;
        margin-bottom: 40px;
    }

    .date{
        color: var(--white);
        text-align: center;
        font-size: 30px;
    }

    .details-link{

    }

    .details-price{
        font-size: 30px;
        color: var(--white);
        text-align: center;
        font-weight: bold;
    }
}

@media screen and (max-width: 640px){
    .bar-search{
        margin-top: 90px;
        flex-direction: column;
    }

    .btn-search{
        margin: auto;
    }
}
