/* -------------------------------------------- */
/* colors */
:root {
    --dark: #0F1626;
    --white: #F5F5F5;
    --orangeDark : #FF533D;
}

/* général */
* {
    padding:0;
    margin:0;
}

html, body {
    height: 100%;
}

.container-fluid {
    padding-right:0px;
    padding-left:0px;
    margin:0px;
}

.row {
    margin-left:0px !important;
    margin-right:0px !important;
}
/* -------------------------------------------- */
/* buttons */
.btn-outline-orange {
    padding: 10px 25px;
    color: var(--orangeDark);
    background-color: transparent;
    background-image: none;
    border: 1px solid var(--orangeDark);
    text-transform: uppercase;
}
.btn-outline-orange:hover {
    color: var(--white);
    background-color: var(--orangeDark);
    border-color: var(--orangeDark);
}
.btn-dark {
    padding: 10px 25px;
    color: var(--white);
    background-color: var(--dark);
    background-image: none;
    border: 1px solid var(--white);
    text-transform: uppercase;
}
.btn-dark:hover {
    font-weight: bold;
    background-color: var(--orangeDark);
}

/* -------------------------------------------- */
/* page login */
#login-form{
    background: linear-gradient(135deg, var(--dark)35%, var(--orangeDark));
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-form .form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
    border:1px solid var(--orangeDark);
    border-radius:5px;
    background-color:var(--white);
}
#login-form .error-connexion{
    display:block;
    font-weight:bold;
    margin: 40px;
}
#login-form input:focus {
    border: 1px solid transparent;
    border-top: 1px solid var(--orangeDark);
    border-bottom: 1px solid var(--orangeDark);
}
#login-form .block-buttons {
    display: flex;
    justify-content: space-around;
}

/* -------------------------------------------- */
/* admin */
#page-admin{
    min-height: 100%;
    position: relative;
}

#bloc-principal {
    min-height:100vh-56px;
    padding-bottom: 56px;
}

#adminFooter {
    height: 56px;
    width:100%;
    position: absolute;
    bottom: 0;
}

#adminNav, #content{
    padding-left:0px;
    padding-right:0px;
}

/* -------------------------------------------- */
/* header */
#adminHeader {
    background: linear-gradient(135deg, var(--orangeDark)15%, var(--dark));
    border-bottom: 1px solid var(--white);
    display: flex;
    justify-content: space-between;
}


#adminNav {
    background-color: var(--dark);
}

#content section{
    padding:3%;
}

#adminEvent button{
    width: 80%;
    margin: auto;
}

.card-overflow {
    max-height: 100px;
    overflow: hidden;
}


/* -------------------------------------------------------- */
/* media queries*/
/* -------------------------------------------------------- */
/* tablets */
@media (min-width: 768px) {

}

/* desktops */
@media (min-width: 992px) {

}